---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---



- Behavioral Economics, Fall 2020 and Fall 2021 <br/>
TA for Raymond Fisman <br/>
<br/>
- Intermediate Microeconomic Analysis, Fall 2021 <br/>
TA for Nilay Kafali <br/>
<br/>
- Introductory Macroeconomic Analysis, Spring 2021 <br/>
TA for Bruce Watson | Teaching Evaluation is available upon request <br/>

<!-- 
{% include base_path %}

{% for post in site.papers reversed %}
  {% include archive-single.html %}
{% endfor %} -->


